sentence-transformers
torch
faiss-cpu
numpy
pandas
tqdm
python-dotenv
openai
scikit-learn
rank-bm25
langchain-core
langchain-text-splitters
langchain-community
langchain
matplotlib
streamlit
altair==4.2.2
python-dotenv
transformers
accelerate
